.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #007bff;
  padding: 10px 25px;
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
body {
  padding-top: 60px;
}
.navbar-link {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;

  margin: 0 50px;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: black;
}
