.user-tab-container {
  text-align: center;
  padding: 20px;
}

.user-card-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 30px;
  margin: 50px auto;

  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  padding: 50px;
}

.user-card {
  border-radius: 8px;
  padding: 20px;

  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
  object-fit: cover;
}
h1 {
  font-size: 25px;

  font-weight: bold;
}
.username {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.bookmark-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  width: 80%;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bookmark-button > svg {
  font-size: 20px;
}

.bookmark-button:hover {
  background-color: #0006b3;
}
.search-bar {
  margin-bottom: 20px;
}

.search-input {
  width: 40%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin: auto;
}
.load-more-button {
  font-size: 15px;

  width: 100px;
  font-weight: bold;
  border: none;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  color: black;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.load-more-button:hover {
  background-color: blue;
}

.button_ctr_div {
  display: flex;
  justify-content: space-between;
  width: 10%;
  margin: 30px auto;
  border-radius: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #007bff;
  cursor: pointer;
}
.button_ctr_div:hover {
  background-color: blue;
}
.button_ctr_div svg {
  font-size: 1.5rem;

  color: black;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .button_ctr_div {
    width: 100px;
  }
}

@media screen and (max-width: 480px) {
  .load-more-button {
    font-size: 12px;
    width: 70px;
  }
  .button_ctr_div {
    width: 40%;
    margin: 10px auto;
  }
}
