@import url('https://fonts.googleapis.com/css2?family=Alata&family=PT+Sans&family=Roboto+Condensed&family=Roboto:wght@300&display=swap');
*{
  font-family: 'Alata', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
}